:root{
    --l-transition-duration: 0.4s;
}
.membersWrap-2h-GB4 {
    width: 54px;
    min-width: unset;
    justify-content: unset;
    transition: var(--l-transition-duration);
}
.member-3-YXUe {
    margin-left: 4px;
    margin-bottom: 3px;
}
.membersWrap-2h-GB4:hover {
    width: 240px;
}
.members-1998pB {
    padding-top: 6px;
}
.membersGroup-v9BXpm {
    height: 0px;
    padding: 0px;
    transition: var(--l-transition-duration);
}
.membersWrap-2h-GB4:hover .membersGroup-v9BXpm {
    height: 40px;
    padding: 15px 8px 5px 16px;
}
