:root{

    --main-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
    /* Friends cards */
    --friend-width: 170px;
    --friend-height: 170px;

    /* Stage cards */
    --stage-width: 350px;
    --stage-height: 200px;
    
    /* Transitions */
    --xs-transition-duration: 0.05s ease-in-out;
    --s-transition-duration: 0.1s ease-in-out;
    --sm-transition-duration: 0.2s ease-in-out;
    --m-transition-duration: 0.3s ease-in-out;
}
.peopleList-3c4jOR > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
}
.peopleList-3c4jOR {
    padding-top: 25px;
}
.title-30qZAO {
    margin: 0;
    position: absolute;
    top: 12px;
    font-size: 15px;
    font-weight: 700;
    transition: var(--s-transition-duration);
}
.peopleListItem-2nzedh {
    position: relative;
    display: block !important;
    height: var(--friend-height) !important;
    width: var(--friend-width) !important;
    margin: 1.8% !important;
    padding: 0 !important;
    border-radius: 8px;
    transition: var(--s-transition-duration);
    background-color: var(--background-secondary);
    display: none;
}
.peopleListItem-2nzedh:hover {
    background-color: var(--background-tertiary);
    box-shadow: var(--main-box-shadow);
}
.actions-1SQwjn {
    display: none;
    bottom: -20px;
    right: 25%;
    margin: 0;
    transition: var(--s-transition-duration);
}
.actionButton-uPB8Fs {
    box-shadow: var(--main-box-shadow);
}
.peopleListItem-2nzedh:hover .actions-1SQwjn {
    position: absolute;
    display: flex;
}
.mutualGuilds-s7F2aa {
    display: block;
    flex: 0;
    margin-bottom: 20px;
}
.iconSizeSmaller-2whVAO {
    margin-top: 4px;
    right: 10px;
}
.iconContainerMasked-G-akdf.iconContainer-IBAtWs {
    -webkit-mask: none;
    mask: none;
    margin-right: 4px;
}
.text-37NqbO {
    width: calc(var(--friend-width) * 0.9);
    position: relative;
    margin-left: -95px;
}
.avatar-3W3CeO {
    transform: scale(2.8);
    margin-top: calc(var(--friend-height) * 0.3);
    margin-left: calc(var(--friend-width) * 0.4);
}
.userInfo-2zN2z8 {
    height: calc(var(--friend-height) * 0.9);
    position: relative;
    width: 135px;
}
.username-31C1TQ {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: visible;
    font-weight: 600;
}

/** STAGE DISCOVERY */

.container-24CyRY {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
}
.container-S9SaVf {
    position: relative;
    display: block !important;
    height: var(--stage-height) !important;
    width: var(--stage-width) !important;
    margin: 1.8% !important;
    padding: 0 !important;
    border-radius: 8px;
    transition: var(--s-transition-duration);
    background-color: var(--background-secondary);
    overflow: hidden;
}
.container-S9SaVf:hover {
    background-color: var(--background-tertiary);
    box-shadow: var(--main-box-shadow);
}
.pageHeader-3nuK1W {
    text-align: center;
}
.grid-3fdl0Y {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}
.speakerContainer-3h4uQU {
    position: relative;
    margin: 1.8% !important;
    border-radius: 8px;
}
