:root {
    --main-light-color: #00f080; /*00f080 / */
    --main-color: #02c663; /*02c663 / 0066ff */
    --main-dark-color: #00aa44; /*00aa44*/
    --danger-color: #982929; /*982929*/
    --success-color: #43b581; /*43b581*/

    --light-opacity: 0.75;
    --normal-opacity: 0.5;
    --great-opacity: 0.33;

    --channels-width: 220px;
}

/** TITLEBAR */

.typeWindows-1za-n7 .winButton-iRh8-Z:after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: 0.15 ease-out;
    pointer-events: none;
}
.typeWindows-1za-n7
    .winButton-iRh8-Z.winButtonMinMax-PBQ2gm:nth-last-of-type(2):hover:after {
    background-color: #00ca4e;
}
.typeWindows-1za-n7
    .winButton-iRh8-Z.winButtonMinMax-PBQ2gm:nth-last-of-type(1):hover:after {
    background-color: #ffbd44;
}
.typeWindows-1za-n7 .winButton-iRh8-Z.winButtonClose-1HsbF-:hover:after {
    background-color: #ff605c;
}
.typeWindows-1za-n7 .winButton-iRh8-Z:hover,
.typeWindows-1za-n7 .winButton-iRh8-Z:active {
    background-color: transparent;
}
.typeWindows-1za-n7 .winButton-iRh8-Z svg {
    display: none;
}

/** HOME ICON */

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9 {
    background: var(--main-color);
}

/** CLICKABLE ICONS */

.clickable-3rdHwn .icon-22AiRD,
.addButtonIcon-2CbG1X {
    color: var(--main-light-color);
    opacity: var(--light-opacity);
    transition: 0.15s ease-out;
}
.clickable-3rdHwn .icon-22AiRD:hover,
.addButtonIcon-2CbG1X:hover {
    color: var(--main-light-color) !important;
    opacity: 1;
}

/** NAV BAR */

.topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ {
    background-color: var(--main-color);
    transition: 0.15s ease-out;
}
.topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ:hover {
    background-color: var(--main-dark-color);
}

/** USER AREA */

.title-3qD0b-,
.container-1r6BKw.themed-ANHk51 {
    z-index: 0;
}

.panels-j1Uci_ .container-3baos1:not(.powercord-spotify) .avatarWrapper-2yR4wp {
    position: absolute;
    top: 5px;
    right: 0;
    height: 40px;
    z-index: 1;
    padding-right: 2px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.toolbar-1t6TWx {
    margin-right: 40px;
}

/* Status */
.status-1fhblQ,
.description-2L932D {
    display: none;
}
#app-mount #status-picker {
    width: 42px;
}
#popout_167 {
    left: 1117pt !important;
}
.customEmoji-2_2FwB {
    margin-left: -2pt !important;
}

/** FRIENDS */

.actionButton-uPB8Fs {
    background-color: rgba(0, 0, 0, 0.6);
    color: #dcddde;
    transition: 0.15s ease-out;
}
.peopleListItem-2nzedh:hover .actionButton-uPB8Fs {
    background-color: var(--main-color);
    color: #fff;
}

/** CHANNELS */

.sidebar-2K8pFh {
    width: var(--channels-width);
}
.container-3w7J-x .bannerImage-3KhIJ6 {
    width: var(--channels-width);
    -webkit-mask: linear-gradient(to bottom, #000, transparent);
    mask: linear-gradient(to bottom, #000, transparent);
}

/* Categories */

.icon-2yIBmh,
.pinnedChannelsHeaderArrow-44rrTz {
    display: none;
}
.name-3l27Hl,
.privateChannels-1nO12o .privateChannelsHeaderContainer-3NB1K1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-light-color);
    font-weight: 700;
    text-align: center;
    transition: 0.15s ease-out;
}
.sidebar-2K8pFh .containerDefault-3tr_sE .wrapper-PY0fhH .name-3l27Hl,
.privateChannelsHeaderContainer-3NB1K1 {
    color: var(--main-light-color);
    opacity: var(--light-opacity);
}
.sidebar-2K8pFh .containerDefault-3tr_sE .wrapper-PY0fhH .name-3l27Hl:hover,
.privateChannelsHeaderContainer-3NB1K1:hover {
    opacity: 1;
}
.name-3l27Hl:before,
.privateChannelsHeaderContainer-3NB1K1:before {
    content: "";
    height: 2px;
    flex-grow: 1;
    transition: 0.3s ease-out;
    background: linear-gradient(to left, var(--main-light-color), transparent);
    margin-right: 5px;
}
.name-3l27Hl:after,
.privateChannelsHeaderContainer-3NB1K1:after {
    content: "";
    height: 2px;
    flex-grow: 1;
    transition: 0.3s ease-out;
    background: linear-gradient(to right, var(--main-light-color), transparent);
    margin-left: 5px;
}
.collapsed-2-tg8y .name-3l27Hl:before,
.collapsed-2-tg8y .name-3l27Hl:after {
    flex-grow: 0;
}

/** MEMBER LIST */

.membersWrap-2h-GB4 {
    width: 54px;
    min-width: unset;
    justify-content: unset;
    transition: 0.3s ease-out;
}
.member-3-YXUe {
    margin-left: 4px;
    margin-bottom: 3px;
}
.membersWrap-2h-GB4:hover {
    width: 240px;
}
.membersGroup-v9BXpm {
    height: 0px;
    padding: 0px;
    transition: 0.3s ease-out;
}
.membersWrap-2h-GB4:hover .membersGroup-v9BXpm {
    height: 40px;
    padding: 24px 8px 0 16px;
}
.members-1998pB {
    padding-top: 7.5px;
}

/** CHAT */

.form-2fGMdU:before {
    display: none;
}
.channelTextArea-rNsIhG,
.wrapper-39oAo3 {
    margin: 5px 0;
    border: none !important;
}
.typing-2GQL18 {
    top: -17px;
    width: 40%;
    overflow: visible;
}
.base-gE7OpD .cooldownWrapper-3joyFc {
    position: relative;
    right: 100%;
    top: 32px;
}

/** POP OUTS */

/* Context menu  */
.menu-3sdvDG {
    background-color: rgba(0, 0, 0, 0.8);
}
.item-1tOPte {
    transition: 0.15s ease-out;
}
.menu-3sdvDG .item-1tOPte.focused-3afm-j {
    background-color: var(--main-color);
    color: #fff;
}
.menu-3sdvDG .item-1tOPte.focused-3afm-j .checkbox-3s5GYZ,
.menu-3sdvDG .item-1tOPte.focused-3afm-j .radioSelection-1HmrQS {
    color: #fff;
}
.menu-3sdvDG .item-1tOPte.focused-3afm-j .check-1JyqgN {
    color: var(--main-color);
}
.menu-3sdvDG .item-1tOPte .checkbox-3s5GYZ,
.menu-3sdvDG .item-1tOPte .radioSelection-1HmrQS {
    color: var(--main-light-color);
}
.menu-3sdvDG .colorBrand-ROmMP1 {
    color: var(--main-color);
}
.menu-3sdvDG .colorDanger-2qLCe1 {
    color: var(--danger-color);
}
.menu-3sdvDG .focused-3afm-j.colorDanger-2qLCe1 {
    background-color: var(--danger-color);
    color: #fff;
}
.menu-3sdvDG .focused-3afm-j.colorDanger-2qLCe1 .icon-LYJorE {
    transform: rotateY(360deg);
    transition: 0.3s ease-out;
}

/* Options */
.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) {
    background-color: var(--main-light-color);
}

/** LINKS */

.fakeLink-26oLcc,
.embed-IeVjo6 > .embedTitleLink-1Zla9e,
.markup-2BOw-j a,
.content-2M3n_H a {
    color: var(--main-light-color) !important;
}

/** PLUGINS */

/* Hide channels */
.sidebar-2K8pFh.hideElement .container-3baos1 {
    position: relative !important;
}
