:root {
    --main-color: #2780e6;
    --hover-color: #1e63b3;
    --success-color: #43b581;
    --danger-color: #982929;
}
.icon-2yIBmh,
.pinnedChannelsHeaderArrow-44rrTz {
    display: none;
}
.sidebar-2K8pFh .containerDefault-3tr_sE .wrapper-PY0fhH .name-3l27Hl,
.sidebar-2K8pFh .containerDragAfter-Zk9oyx .wrapper-PY0fhH .name-3l27Hl,
.sidebar-2K8pFh .containerDragBefore-1YqewQ .wrapper-PY0fhH .name-3l27Hl,
.sidebar-2K8pFh .containerUserOver-98-yc7 .wrapper-PY0fhH .name-3l27Hl {
    color: var(--main-color);
}
.privateChannels-1nO12o .privateChannelsHeaderContainer-3NB1K1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
    font-weight: 700;
    text-align: center;
}
.privateChannels-1nO12o .privateChannelsHeaderContainer-3NB1K1:before {
    content: "";
    height: 2px;
    flex-grow: 1;
    background: linear-gradient(to left, var(--main-color) 50%, transparent);
    margin-right: 5px;
}
.privateChannels-1nO12o .privateChannelsHeaderContainer-3NB1K1:after {
    content: "";
    height: 2px;
    flex-grow: 1;
    background: linear-gradient(to right, var(--main-color) 50%, transparent);
    margin-left: 5px;
}
.name-3l27Hl {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
    font-weight: 700;
    text-align: center;
    transition: all 0.3s ease-in-out;
}
.name-3l27Hl:before {
    content: "";
    height: 2px;
    flex-grow: 1;
    transition: all 0.3s ease-in-out;
    background: linear-gradient(to left, var(--main-color), transparent);
    margin-right: 5px;
}
.name-3l27Hl:after {
    content: "";
    height: 2px;
    flex-grow: 1;
    transition: all 0.3s ease-in-out;
    background: linear-gradient(to right, var(--main-color), transparent);
    margin-left: 5px;
}
.sidebar-2K8pFh .containerDefault-3tr_sE .wrapper-PY0fhH .name-3l27Hl,
.sidebar-2K8pFh .containerDragAfter-Zk9oyx .wrapper-PY0fhH .name-3l27Hl,
.sidebar-2K8pFh .containerDragBefore-1YqewQ .wrapper-PY0fhH .name-3l27Hl,
.sidebar-2K8pFh .containerUserOver-98-yc7 .wrapper-PY0fhH .name-3l27Hl {
    color: var(--main-color);
}
.children-L002ao {
    margin-left: 3px;
}
.collapsed-2-tg8y .name-3l27Hl:before,
.collapsed-2-tg8y .name-3l27Hl:after{
    flex-grow: 0;
}
